#pip install -r requirements.txt
# web VM(django container) need to pip install following packages
Django
psycopg2-binary
elasticsearch-dsl
djangorestframework
pyexcel
pyexcel-io
django-cors-headers

