#pip install -r requirements.txt
# web VM(django container) need to pip install following packages
Django
psycopg2-binary
django_elasticsearch_dsl
djangorestframework
pyexcel
pyexcel-io
django-cors-headers

